//! **************************************************************************
// Written by: Map P.20131013 on Fri May 22 08:50:42 2015
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

